body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

H1 {
    margin: 2rem auto;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 56%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 32rem;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 81%);
    color: rgb(53, 53, 53);
}

#keys {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 70%);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(300, 40%, 22%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}
